<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Boot File Upload to S3</title>
</head>
<body>
<div align="center">
    <div><h2>List of Files from S3</h2></div>
    <div>
        <table border="1">
            <thead>
            <tr>
                <td>Id</td>
                <td>File Name</td>
                <td>Title</td>
                <td>Description</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td><span th:text="${file.secureFileId}"></span></td>
                <td><span th:text="${file.secureFileName}"></span></td>
                <td><span th:text="${file.secureFileTitle}"></span></td>
                <td><span th:text="${file.secureFileDescription}"></span></td>
                <td>
                    <form method="GET" th:action="@{/api/v1/secure/__${file.secureFileId}__/download}">
                        <button type="submit" name="submit">DOWNLOAD</button>
                    </form>
                </td>
                <td>
                    <form method="GET" th:action="@{/api/v1/secure/__${file.secureFileId}__/delete}">
                        <button type="submit" name="submit">DELETE</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>