<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Boot File Upload to S3</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/styles/css/upload.css}">
</head>
<body>

<div class="container py-5">
    <div class="header-container-wrapper">
        <div class="header-container">
            <div class="custom-header-bg">
                <div class="page-center">
                    <div class="logo">Secure File Upload.</div>
                    <div class="navigation">
                        <ul>
                            <li><a th:href="@{/api/v1/secure/user/getAllFiles}" class="button click-upload"><i class="fa fa-cloud-download" aria-hidden="true"></i>Download</a></li>
                            <li><a th:href="@{/logout}" class="button click-upload"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container-wrapper">
        <div class="body-container">
            <div class="page-center">

                <i class="fa fa-cloud" aria-hidden="true"></i>
                <h1>Upload Your <strong>Files</strong> To AWS</h1>
                <form id="upload" action="/api/v1/secure/user/upload" method="post" enctype="multipart/form-data">
                    <div id="drop">
                        <p>
                            <h3>Title: </h3><input type="text" id="title" name="title" size="30" required/>
                        </p>

                        <p>
                            <h3>Description: </h3><input type="text" id="desc" name="description" size="30" required/>

                        </p>
                        <p>
                            <input type="file" name="file" style="margin-top: 25px;" required>
                        </p>
                        <p>
                            <button type="submit" class="upload">Submit</button>
                        </p>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="footer-container-wrapper">
        <div class="footer-container">
            <div class="custom-footer-bg">
                <div class="page-center">
                    <p>@Copyright Secure File Upload.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>