<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page in HTML with CSS Code Example</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/css/user_login.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Secure <br>File <br>Upload.</h1>
            <br>
            <br>
            <p>Hey there! You can now upload and download secure files to Amazon AWS S3 using Secure File Upload.</p>
            </span>
        </div>
    </div>


    <div class="right">
        <h5>User</h5>
        <h5>Login</h5>
        <p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>
        <div class="inputs">
            <input type="text" placeholder="Username">
            <br>
            <input type="password" placeholder="Password">
        </div>

        <br><br>
        <button>Login</button>
    </div>

</div>
<!-- partial -->

</body>
</html>
